<%- include('layouts/header'); -%>
<div class="encabezado">
  <h1>Tendencias</h1>
</div>
<div class="flex-gallery">
  
  <div>
    <a target="_blank" href="img_5terre.jpg">
      <img src="assets/img/modelo_001.jpg" alt="Cinque Terre">
    </a>
    <p class="titulo-galeria">Nueva Tendencia de ropa para dama</p>
    <a href="#" class="cart-galeria" rel="noopener noreferrer">
        <i class='bx bx-cart-download'></i>
    </a>
  </div>  
  <div>
    <a target="_blank" href="img_5terre.jpg">
      <img src="assets/img/modelo_004.png" alt="Cinque Terre">
    </a>
    <p class="titulo-galeria">Nueva Tendencia de ropa para dama</p>
    <a href="#" class="cart-galeria" rel="noopener noreferrer">
        <i class='bx bx-cart-download'></i>
    </a>
  </div>  
  <div>
    <a target="_blank" href="img_5terre.jpg">
      <img src="assets/img/modelo_004.png" alt="Cinque Terre">
    </a>
    <p class="titulo-galeria">Nueva Tendencia de ropa para dama</p>
    <a href="#" class="cart-galeria" rel="noopener noreferrer">
        <i class='bx bx-cart-download'></i>
    </a>
  </div>  
  <div>
    <a target="_blank" href="img_5terre.jpg">
      <img src="assets/img/modelo_003.jpg" alt="Cinque Terre">
    </a>
    <p class="titulo-galeria">Nueva Tendencia de ropa para dama</p>
    <a href="#" class="cart-galeria" rel="noopener noreferrer">
        <i class='bx bx-cart-download'></i>
    </a>
  </div>
  
  <div>
    <a target="_blank" href="img_5terre.jpg">
      <img src="assets/img/modelo_001.jpg" alt="Cinque Terre">
    </a>
    <p class="titulo-galeria">Nueva Tendencia de ropa para dama</p>
    <a href="#" class="cart-galeria" rel="noopener noreferrer">
        <i class='bx bx-cart-download'></i>
    </a>
  </div>

  <div>
    <a target="_blank" href="img_5terre.jpg">
      <img src="assets/img/modelo_002.jpg" alt="Cinque Terre">
    </a>
    
    <p class="titulo-galeria">Nueva Tendencia de ropa para dama</p>
    
    <a href="#" class="cart-galeria" rel="noopener noreferrer">
        <i class='bx bx-cart-download'></i>
    </a>
  
  </div>

</div>

<publicidad>
<div class="container">
  Prueba
</div>
</publicidad>

<section>
  <h1>Ofertas</h1>
</section>

<%- include('layouts/footer'); -%>
