<%- include('layouts/header'); -%>
<section class="section">
  <h1 class="title">Caballeros</h1>
  <h2 class="subtitle">Bienvenido a nuestra tienda</h2>
  <p class="has-text-centered">Alquila ropa de lujo para cualquier ocasión</p>
<div class="flex-gallery">
  <div>
    <a target="_blank" href="img_5terre.jpg">
      <img src="assets/img/modelo_006.jpg" alt="Cinque Terre">
    </a>
    <p class="titulo-galeria">Nueva Tendencia de ropa para dama</p>
    <a href="#" class="cart-galeria" rel="noopener noreferrer">
        <i class='bx bx-cart-download'></i>
    </a>
  </div>  
  <div>
    <a target="_blank" href="img_5terre.jpg">
      <img src="assets/img/modelo_006.jpg" alt="Cinque Terre">
    </a>
    <p class="titulo-galeria">Nueva Tendencia de ropa para dama</p>
    <a href="#" class="cart-galeria" rel="noopener noreferrer">
        <i class='bx bx-cart-download'></i>
    </a>
  </div>
  
  <div>
    <a target="_blank" href="img_5terre.jpg">
      <img src="assets/img/modelo_006.jpg" alt="Cinque Terre">
    </a>
    <p class="titulo-galeria">Nueva Tendencia de ropa para dama</p>
    <a href="#" class="cart-galeria" rel="noopener noreferrer">
        <i class='bx bx-cart-download'></i>
    </a>
  </div>

  <div>
    <a target="_blank" href="img_5terre.jpg">
      <img src="assets/img/modelo_006.jpg" alt="Cinque Terre">
    </a>
    
    <p class="titulo-galeria">Nueva Tendencia de ropa para dama</p>
    
    <a href="#" class="cart-galeria" rel="noopener noreferrer">
        <i class='bx bx-cart-download'></i>
    </a>
  
  </div>

</div>
</section>

<section class="section">
  <h1 class="title">Damas</h1>
  <h2 class="subtitle">Bienvenido a nuestra tienda</h2>
  <p class="has-text-centered">Alquila ropa de lujo para cualquier ocasión</p>

<div class="flex-gallery">
  <div>
    <a target="_blank" href="img_5terre.jpg">
      <img src="assets/img/modelo_dama_001.jpeg" alt="Cinque Terre">
    </a>
    <p class="titulo-galeria">Nueva Tendencia de ropa para dama</p>
    <a href="#" class="cart-galeria" rel="noopener noreferrer">
        <i class='bx bx-cart-download'></i>
    </a>
  </div>  
  <div>
    <a target="_blank" href="img_5terre.jpg">
      <img src="assets/img/modelo_dama_002.jpeg" alt="Cinque Terre">
    </a>
    <p class="titulo-galeria">Nueva Tendencia de ropa para dama</p>
    <a href="#" class="cart-galeria" rel="noopener noreferrer">
        <i class='bx bx-cart-download'></i>
    </a>
  </div>
  
  <div>
    <a target="_blank" href="img_5terre.jpg">
      <img src="assets/img/modelo_dama_003.jpg" alt="Cinque Terre">
    </a>
    <p class="titulo-galeria">Nueva Tendencia de ropa para dama</p>
    <a href="#" class="cart-galeria" rel="noopener noreferrer">
        <i class='bx bx-cart-download'></i>
    </a>
  </div>

  <div>
    <a target="_blank" href="img_5terre.jpg">
      <img src="assets/img/modelo_dama_004.jpg" alt="Cinque Terre">
    </a>
    
    <p class="titulo-galeria">Nueva Tendencia de ropa para dama</p>
    
    <a href="#" class="cart-galeria" rel="noopener noreferrer">
        <i class='bx bx-cart-download'></i>
    </a>
  
  </div>

</div>
</section>

<section class="section has-background-danger-soft">
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Tweets</p>
      <p class="title">3,456</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Following</p>
      <p class="title">123</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Followers</p>
      <p class="title">456K</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Likes</p>
      <p class="title">789</p>
    </div>
  </div>
</nav>
</section>
<%- include('layouts/footer'); -%>
