<%- include('layouts/header', {titulopage: 'Lujo' }); -%>
<%- include('layouts/navbar'); -%>
  <section class="hero is-fullheight has-background-primary-10 mt-6">
    <img alt="" class="hero-background is-transparent" src="assets/img/tienda_001.jpg" />
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-white">
          Servicio de Alquiler de Ropa de Lujo
        </h1>
        <h3 class="subtitle has-text-white">
          trajes de ocasion para eventos formales
        </h3>

      </div>
      <figure class="image is-256x256">
        <img src="assets/img/modelo_013.png" />
      </figure>
    </div>
  </section>

  <div class="section">
    <h1 class="title">Caballeros</h1>
    <h2 class="subtitle">Coleccion de ropa para caballeros</h2>

    <div class="columns is-multiline">

      <div class="column is-one-third-desktop is-one-third-tablet is-full-mobile">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by5">
              <a href="#">
                <img src="assets/img/modelo_006.jpg" alt="">
              </a>
            </figure>
          </div>
          <div class="card-content">
            <p>
              Nueva Tendencia de ropa para caballeros
            </p>
          </div>
          <footer class="card-footer">
            <a href="/pagos" class="card-footer-item">
              <i class='bx bx-cart-download'></i>
            </a>
          </footer>
        </div>
      </div>

      <div class="column is-one-third-desktop is-one-third-tablet is-full-mobile">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by5">
              <a href="/pagos">
                <img src="assets/img/modelo_006.jpg" alt="">
              </a>
            </figure>
          </div>
          <div class="card-content">
            <p>
              Nueva Tendencia de ropa para caballeros
            </p>
          </div>
          <footer class="card-footer">
            <a href="/pagos" class="card-footer-item">
              <i class='bx bx-cart-download'></i>
            </a>

          </footer>
        </div>
      </div>

      <div class="column is-one-third-desktop is-one-third-tablet is-full-mobile">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by5">
              <a href="/pagos">
                <img src="assets/img/modelo_006.jpg" alt="">
              </a>
            </figure>
          </div>
          <div class="card-content">
            <p>
              Nueva Tendencia de ropa para caballeros
            </p>
          </div>
          <footer class="card-footer">
            <a href="/pagos" class="card-footer-item">
              <i class='bx bx-cart-download'></i>
            </a>
          </footer>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <h1 class="title">Damas</h1>
    <h2 class="subtitle">Coleccion de ropa para damas</h2>

    <div class="columns is-multiline">

      <div class="column is-one-third-desktop is-one-third-tablet is-full-mobile">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by5">
              <a href="#">
                <img src="assets/img/modelo_dama_001.jpeg" alt="">
              </a>
            </figure>
          </div>
          <div class="card-content">
            <p>
              Nueva Tendencia de ropa para dama
            </p>
          </div>
          <footer class="card-footer">
            <a href="/pagos" class="card-footer-item">
              <i class='bx bx-cart-download'></i>
            </a>
          </footer>
        </div>
      </div>

      <div class="column is-one-third-desktop is-one-third-tablet is-full-mobile">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by5">
              <a href="#">
                <img src="assets/img/modelo_dama_002.jpeg" alt="">
              </a>
            </figure>
          </div>
          <div class="card-content">
            <p>
              Nueva Tendencia de ropa para dama
            </p>
          </div>
          <footer class="card-footer">
            <a href="/pagos" class="card-footer-item">
              <i class='bx bx-cart-download'></i>
            </a>
          </footer>
        </div>
      </div>

      <div class="column is-one-third-desktop is-one-third-tablet is-full-mobile">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by5">
              <a href="/pagos">
                <img src="assets/img/modelo_dama_003.jpg" alt="">
              </a>
            </figure>
          </div>
          <div class="card-content">
            <p>
              Nueva Tendencia de ropa para dama
            </p>
          </div>
          <footer class="card-footer">
            <a href="/pagos" class="card-footer-item">
              <i class='bx bx-cart-download'></i>
            </a>
          </footer>
        </div>
      </div>

      
    </div>
  </div>

  <section class="section has-background-blue-grey text-white-uppercase">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">X</p>
          <p class="title">3,456</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Seguidos</p>
          <p class="title">123</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Seguidores</p>
          <p class="title">456K</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Likes</p>
          <p class="title">789</p>
        </div>
      </div>
    </nav>
  </section>

  <%- include('layouts/footer'); -%>