<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Alquiler de Trajes y Vestidos para Eventos Especiales">
  <meta name="keywords" content="alquiler, trajes, vestidos, eventos, especiales, lujo, moda">
  <title>Mi cuenta</title>

  <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="/assets/plugins/bulma/css/bulma.min.css">
  <link rel="stylesheet" href="/assets/plugins/boxicons/css/boxicons.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">


</head>

<body class="is-one-third-desktop is-one-third-tablet is-full-mobile">
  <section class="hero is-fullheight">
    <div class="hero-body">

      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-8 is-offset-2">
            <div class="columns">
              <div class="column left">
                <h1 class="title is-1">Lujo</h1>
                <h2 class="subtitle colored is-4">Servicio de Alquiler de ropa de lujo.</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ex deleniti aliquam tempora libero
                  excepturi vero soluta odio optio sed.</p>
              </div>
              <div class="column right has-text-centered">
                <h1 class="title is-4">Registrate</h1>
                <p class="description">Crea tu registro para pedir tus trajes de lujo en linea.</p>
                <form>
                  <div class="field">
                    <div class="control">
                      <input class="input is-medium" type="text" placeholder="Nombre">
                    </div>
                  </div>

                  <div class="field">
                    <div class="control">
                      <input class="input is-medium" type="email" placeholder="Email">
                    </div>
                  </div>
                  <div class="field">
                    <div class="control">
                      <input class="input is-medium" type="password" placeholder="Contraseña">
                    </div>
                  </div>
                  <button class="button is-block is-primary is-fullwidth is-medium">Registrame</button>
                  <br />
                  <small><em>La mejor experiencia en alquiler de trajes.</em></small>
                </form>
              </div>
            </div>
          </div>
          <div class="column is-8 is-offset-2">
            <br>
            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                  <span class="icon">
                    <i class='bx bxl-twitter bx-sm' style='color:#060606'></i>
                  </span> &emsp;
                  <span class="icon">
                    <i class='bx bxl-facebook-circle bx-sm' style='color:#143060'></i>
                  </span> &emsp;
                  <span class="icon">
                    <i class='bx bxl-instagram bx-sm' style='color:#cb2b1f'></i>
                  </span>
                  
                </div>
              </div>
              <div class="level-right">
                <small class="level-item" style="color: var(--textLight)">
                  &copy; 2025 Lujo. Todos los derechos reservados.
                </small>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>