<%- include('../layouts/header', {titulopage: 'Beneficios'}); -%>
<%- include('../layouts/navbar'); -%>
    <section class="hero is-medium has-background-text-45 mt-6">
        <div class="hero-body">
          <p class="title has-text-primary-100 has-text-right">Beneficios</p>
          <p class="subtitle has-text-primary-100 has-text-right">Alquila un traje para tu beneficio</p>
        </div>
    </section>

    <div class="container mt-4">
        <div class="columns">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-content has-background-primary-35">
                        <p class="title">
                            "Alquilar puede ser más económico que comprar."
                        </p>
                        <p class="subtitle">Ahorro</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content has-background-warning-70">
                        <p class="title">
                            "Puedes elegir un traje que se ajuste a la ocasión y a tu estilo sin tener que invertir una gran cantidad de dinero."
                        </p>
                        <p class="subtitle">Flexibilidad</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content has-background-danger-80">
                        <p class="title">
                            "No tienes que preocuparte por limpiar, planchar o guardar el traje después del evento." 
                        </p>
                        <p class="subtitle">Comodidad</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content has-background-link-80">
                        <p class="title">
                            "No necesitas espacio de almacenamiento para un traje que no usarás con frecuencia." 
                        </p>
                        <p class="subtitle">Espacio</p>
                    </div>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="card">
                    <div class="card-content has-background-info-60">
                        <p class="title">
                            "Nuestros servicios ofrecen una amplia gama de estilos y tallas para elegir."
                        </p>
                        <p class="subtitle">Variedad</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



<%- include('../layouts/footer'); -%>