<%- include('../layouts/header', {titulopage: 'Nosotros' }); -%>
<%- include('../layouts/navbar'); -%>
    <section class="hero is-medium has-background-text-45 mt-6">
        <div class="hero-body">
            <p class="title has-text-primary-100 has-text-centered is-uppercase">Nosotros</p>
            <p class="subtitle has-text-primary-100 has-text-centered">¿ Quienes Somos ?</p>
        </div>
    </section>

    <div class="container mt-4 is-one-third-desktop is-one-third-tablet is-full-mobile">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <img src="assets/img/modelo_007.jpeg" alt="Image" />
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <h1>Lujo</h1> <small>Servicio de Alquiler de Ropa</small>
                        </p>
                        <p class="has-text-justified">

                            Somos una tienda de alquiler de ropa que presta el servicio de prendas de vestir
                            y accesorios por un período determinado, generalmente para eventos especiales.
                            Ofrecemos una variedad de opciones, desde vestidos de fiesta hasta trajes y
                            accesorios de moda, permitiendo a los clientes pueda lucir estilos particulares sin
                            la inversión de comprar ropa que solo usarán una vez.
                        </p>
                        <p class="has-text-justified">
                            Nos enfocamos en brindar una experiencia positiva al cliente,
                            incluyendo asesoramiento sobre estilos, tallas y alquiler.
                            La tienda es responsable de la limpieza, reparación y mantenimiento
                            de las prendas, asegurando que estén en buen estado para cada alquiler.
                            Implementamos un servicio para registrar y controlar las prendas alquiladas,
                            así como para gestionar los pagos y los plazos de devolución.
                        </p>
                        <p class="has-text-justified">
                            Nuestras prendas tienen chips de localización para evitar robos y pérdidas.
                            La tienda también ofrece servicios adicionales,
                            como entrega y recogida de prendas, en el sitio que se encuentran.
                        </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <a class="level-item" aria-label="reply">
                                <span class="icon is-small">
                                    <i class="fas fa-reply" aria-hidden="true"></i>
                                </span>
                            </a>
                            <a class="level-item" aria-label="retweet">
                                <span class="icon is-small">
                                    <i class="fas fa-retweet" aria-hidden="true"></i>
                                </span>
                            </a>
                            <a class="level-item" aria-label="like">
                                <span class="icon is-small">
                                    <i class="fas fa-heart" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    </div>



    <%- include('../layouts/footer'); -%>