<%- include('../layouts/header', {titulopage: 'Ventajas'}); -%>
<%- include('../layouts/navbar'); -%>
    <section class="hero is-medium has-background-text-45 mt-6">
        
        <div class="hero-body">
          <p class="title has-text-primary-100 has-text-right">Ventajas</p>
          <p class="subtitle has-text-primary-100 has-text-right">
            Accede a prendas de alta calidad sin tener que pagar precios excesivos.
        </p>
          
        </div>
    </section>

    <div class="container mt-4">
        <div class="columns is-multiline is-desktop is-mobile">
            <div class="column is-half">
                <div class="card">
                    <div class="card-content has-background-info-75">
                        <p class="title">
                            "El alquiler permite probar ropa de lujo o de diseñador 
                            sin tener que comprarla, lo que democratiza el acceso 
                            a la moda."
                        </p>
                        <p class="subtitle">Acceso</p>
                    </div>
                </div>
            </div>

            <div class="column is-half">    
                <div class="card">
                    <div class="card-content has-background-link-75">
                        <p class="title">
                            "Al alquilar, se pueden probar diferentes estilos y 
                            tendencias sin tener que invertir grandes cantidades 
                            de dinero en el armario"
                        </p>
                        <p class="subtitle">Variedad</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-multiline is-desktop is-mobile">    
            <div class="column is-fullhd">
                <div class="card">
                    <div class="card-content has-background-danger-80">
                        <p class="title">
                            "Al alquilar, se reduce la necesidad de producir nuevas prendas, 
                            disminuyendo el desperdicio textil y el consumo de recursos como agua, 
                            energía y materias primas" 
                        </p>
                        <p class="subtitle">Reduccion de residuos</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-multiline is-desktop is-mobile">    
            <div class="column is-half">    
                <div class="card">
                    <div class="card-content has-background-link-80">
                        <p class="title">
                            "No necesitas un gran espacio para guardar prendas que solo usarás ocasionalmente" 
                        </p>
                        <p class="subtitle">Almacenamiento</p>
                    </div>
                </div>
            </div>

            <div class="column is-half">
                <div class="card">
                    <div class="card-content has-background-info-60">
                        <p class="title">
                            "Nuestros servicios ofrecen una amplia gama de estilos y tallas para elegir."
                        </p>
                        <p class="subtitle">Variedad</p>
                    </div>
                </div>
            </div>

        </div>
    </div>



<%- include('../layouts/footer'); -%>