<footer class="footer">
    <div class="content has-text-centered">
        <div class="row">
            <i class='bx bxl-facebook-circle'></i>
            <i class='bx bxl-instagram'></i>
            <i class='bx bxl-youtube'></i>
            <i class='bx bxl-twitter'></i>
        </div>
      <p>
        <strong>Realizado</strong> por <a href="#">Dermides Blanco</a>.
        Licencia de comercializacion
        <a href="#"">Privada</a>. Todos los derechos reservados
        <a href="#"
          >Version 1.0</a>.
      </p>
    </div>
  </footer>

</body>
</html>