<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Alquiler de Trajes y Vestidos para Eventos Especiales">
    <meta name="keywords" content="alquiler, trajes, vestidos, eventos, especiales, lujo, moda">
    <title><%= titulopage %></title>
    
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/assets/plugins/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/plugins/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    

</head>
<body class="is-one-third-desktop is-one-third-tablet is-full-mobile has-background-light">

  <%- include('navbar'); -%>
      
