<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title><%= titulopage %></title>

    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/plugins/boxicons/css/boxicons.min.css">

</head>
<body>
    <header>
        <div class="container">
            <a class="logo">Ropa de Lujo</a>
            <nav>
                <ul>
                <div class="dropdown">
                    <li><a class="alink">Categorias</a></li>
                    <div class="dropdown-content">
                      <li><a href="#">Link 1</a></li>
                      <li></li><a href="#">Link 2</a></li>
                      <li></li><a href="#">Link 3</a></li>
                    </div>
                </div>
                <div class="dropdown">
                    <li><a class="alink" href="#">Nueva Ropa</a></li>
                </div>
                <div class="dropdown">
                    <li><a class="alink" href="#">Temporada</a></li>
                </div>
                <div class="dropdown">
                    <li><a class="alink" href="#">Quienes Somos</a></li>
                </div>
                <div class="dropdown">
                    <li><a class="alink">Mi cuenta</a></li>
                    <div class="dropdown-content">
                      <li><a href="#">Link 1</a></li>
                      <li><a href="#">Link 2</a></li>
                      <li><a href="#">Link 3</a></li>
                    </div>
                </div>
                </ul>
                
            </nav>
        </div>
    </header>
    
    <section class="hero">
        <div class="hero-image-container">
            <img class="hero-image" src="assets/img/modelo_002.jpg" alt="Cinque Terre">
        </div>
        <div class="hero-text">
            <h2>¡Alquiler de ropa de lujo!</h2>
            <p>Tenemos para ti ropa de lujo y de ocasion.</p>
            <a href="#" rel="noopener noreferrer">Ver mas...</a>
        </div>
        
    </section>


    

    
