<nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/assets/img/corbata_logo.png" style="max-height: 40px" class="py-2 px-2"></img>
        LUJO
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item">
          Home
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Comentarios
          </a>
  
          <div class="navbar-dropdown">
            <a href="/admin/contactos" class="navbar-item">
              Listados
            </a>
            
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Pagos
          </a>
  
          <div class="navbar-dropdown">
            <a href="/admin/pagos" class="navbar-item">
              Listados
            </a>
            
          </div>
        </div>
        
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="/registro" class="button is-button-blue-plate">
              <strong>Registrate</strong>
            </a>
            <a href="/login" class="button is-button-blue-green">
              Mi Cuenta
            </a>
          </div>
        </div>
      </div>
    </div>
</nav>