<nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/assets/img/corbata_logo.png" style="max-height: 40px" class="py-2 px-2"></img>
        LUJO
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item">
          Home
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Alquiler
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Niños
            </a>
            <a class="navbar-item">
              Caballeros
            </a>
            <a class="navbar-item">
              Mujeres
            </a>
            <a class="navbar-item">
              Zapatos
            </a>
          </div>
        </div>

        <a href="/beneficios" class="navbar-item">
          Beneficios
        </a>
        <a href="/ventajas" class="navbar-item">
          Ventajas
        </a>

        <a href="/nosotros" class="navbar-item">
          Nosotros
        </a>

        <a href="/contactos" class="navbar-item">
          Contactanos
        </a>
        
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="/registro" class="button is-button-blue-plate">
              <strong>Registrate</strong>
            </a>
            <a href="/login" class="button is-button-blue-green">
              Mi Cuenta
            </a>
          </div>
        </div>
      </div>
    </div>
</nav>