<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Alquiler de Trajes y Vestidos para Eventos Especiales">
  <meta name="keywords" content="alquiler, trajes, vestidos, eventos, especiales, lujo, moda">
  <title>Mi cuenta</title>

  <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="/assets/plugins/bulma/css/bulma.min.css">
  <link rel="stylesheet" href="/assets/plugins/boxicons/css/boxicons.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">


</head>

<body class="is-one-third-desktop is-one-third-tablet is-full-mobile">

  <section class="hero has-background-blue-black is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-4-widescreen">
            <form action="/admin/login" method="POST" class="box">
              <div class="has-text-centered">
                <i class='bx bxs-user-circle bx-lg' style='color:#3d9827'  ></i>
                <h4 class="title is-4">
                  Inicia Sesión
                </h4>
              </div>

              <div class="field">
                <label for="" class="label">Usuario</label>
                <div class="control has-icons-left">
                  <input type="text" name="username" placeholder="Nombre de Usuario" class="input" required>
                  <span class="icon is-small is-left">
                    <i class='bx bx-envelope'></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Password</label>
                <div class="control has-icons-left">
                  <input type="password" name="password" placeholder="*******" class="input" required>
                  <span class="icon is-small is-left">
                    <i class='bx bxs-lock-alt'></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="checkbox">
                  <input type="checkbox">
                  Recordar
                </label>
              </div>
              <div class="field has-text-centered">
                <p>
                  <a href="/registro">Registro</a> | <a href="/forgot-password">
                    ¿Olvido su clave?
                  </a>
                </p>
              </div>
              <div class="field has-text-centered">
                <button class="button is-info is-fullwidth">
                  Iniciar Sesión
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>